{% extends 'base.html.twig' %}
{% block title %} Liste des Articles{% endblock %}
{% block body %}
    <h1 class="mt-4 mb-4">Articles</h1>
    
    {% if articles %}
        <table id="articles" class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.nom }}</td>
                        <td>{{ article.prix }}</td>
                        <td>
                            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-dark">Détails</a>
                            <a href="{{ path('edit_article', {'id': article.id}) }}" class="btn btn-dark">Modifier</a>
                            <a href="{{ path('delete_article', {'id': article.id}) }}" class="btn btn-danger" 
                               onclick="return confirm('Etes-vous sûr de vouloir supprimer cet article?');">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun articles</p>
    {% endif %}
    
    <div class="mt-4">
        <a href="{{ path('new_article') }}" class="btn btn-primary">Ajouter un nouvel article</a>
    </div>
{% endblock %}